{% extends "base.html" %}

{% block title %}
word list
{% endblock %}

{% block head %}
<script type="text/javascript">
  var IS_ADMIN = {% if user.is_superuser %} true {% else %} false {% endif %};
  var IS_LOGGED_IN = {% if user.is_authenticated %} true {% else %} false {% endif %};
  var MODE = "{{ mode }}";
</script>
<script type="text/javascript"
        src="/static/js/word_list.js">
</script>
<link rel="stylesheet" href="/static/css/word_list.css" type="text/css" media="screen" />
{% endblock %}

{% block body %}
<div id="bottom_bar">
  <div class="search">
    search<input id="search_box" type="text" />
  </div>
  {% if mode == 'default' %}
      {% if user.is_authenticated %}
      <a href="/favorites/"><button>view favorites</button></a>
      {% endif %}
  {% else %}
      <a href="/"><button>view all</button></a>
  {% endif %}
  <div class="new_word">
    {% if user.is_superuser %}
    <button id="new_word">new word</button>
    {% endif %}
  </div>
</div>
<div id="word_list">
  <img src="/static/img/loader.gif" class="" alt="" />
  <span>Loading...</span>
</div>
<div id="word_detail">
  <div class="load_content">loading...</div>
  <div class="word_content"></div>
</div>
{% endblock %}
