#word_list { clear: left; }
#word_search, #word_list, #word_detail, #word_add { float: left; }

#bottom_bar {
    width: 100%;
    background: #ccc;
    float: left;
}

#bottom_bar > .search {
    float: left;
}

#bottom_bar > .new_word {
    float: right;
}

#search_box { padding: 3px 5px; }

#word_list {
    width: 20%;
}

.word_item { 
    margin: 5px 0px 10px 15px;
    cursor: pointer;
    color: black;
}

.word_item.fav {
    background: #C6E2FF;   
}

.word_item:hover > span {
    text-decoration: underline;
}

.word_item > span {
    font-size: 1.2em;
}

.word_item > div {
    padding-left: 15px;
    color: #666;
    font-size: 0.9em;
}

#word_detail {
    width: 40%;
    padding: 40px 40px;
}

#word_detail > .word_content {
    padding: 5px 5px;
    border: 1px solid #ccc;
}

#word_add {
    width: 40%;
    background: #ffcccc;
}

#word_add input[type=text] {
    width: 250px;
}

#word_add .derivatives {
    padding-left: 25px;
}

#word_detail > .load_content, 
#word_detail > .word_content,
#word_add > .load_content,
#word_add > .word_content {
    display: none;
}

#word_detail.loading > .load_content,
#word_detail.content > .word_content,
#word_add.loading > .load_content,
#word_add.content > .word_content{
    display: block;
}

.meaning {
    padding-left: 20px;
    margin-bottom: 10px;
}

